@import "./reset.less";
body {
  background: #ccc;
}
#content {
  max-width: 1200px;
  min-height: 100%;
  background: #fff;
  margin: 0 auto;
  padding: 20px;
  color: #333;
}
.title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #0ae;
}
h3 {
  margin: 10px 0;
}
ul::after {
  content: '';
  height: 0;
  clear: both;
  overflow: hidden;
  display: block;
}
li {
  width: 185px;
  height: 60px;
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
  float: left;
  border: 1px solid #dfdfdf;
  margin: 0 10px 10px 0;
  &:nth-child(6n) {
    margin-right: 0;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 58px;
  }
}

@media screen and (max-width: 432px) {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  li {
    width: 48%;
    height: 50px;
    font-size: 16px;
    flex-shrink: 0;
    &:nth-child(2n) {
      margin-right: 0;
    }
    a {
      line-height: 48px;
    }
  }
}